body {
   background-color: aquamarine !important;
   border: 20px solid red !important;
}

.box {
   background: yellow !important;
   border: 2px solid #000 !important;
   height: 100px !important;
   width: 200px !important;
}